<!-- <app-header></app-header> -->

<!-- <app-product-list></app-product-list> -->

<!-- Parent to Child and Child To Parent Data Transfer -->

<!-- <app-parent></app-parent> -->

<!-- <app-template-ref-variable #varTemp></app-template-ref-variable>

    @if(varTemp.data){
        <p>{{varTemp.data}}</p>    
    } -->

    <!-- <app-view-children></app-view-children> -->

<!-- Learning ngTemplate -->
<!-- <ng-template #template>
    <div>
        <p>Content from ng Tempate </p>
    </div>
</ng-template>

<div [ngTemplateOutlet]="template"></div> -->

<!-- Learning Services -->
<!-- <button (click)="subscribe()">Subscribe</button> -->


<!-- Learning Template driven Form -->
<!-- <app-template-driven-form></app-template-driven-form> -->



<!-- <app-parent1></app-parent1> -->

<app-parent2 ></app-parent2>